.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: space-evenly;
    width: 1700px;
    height: 1100px;
    margin: 60px auto;
}

.box{
    height: 500px;
    width: 500px;
    border: 2px solid white;
    border-radius: 5%;
    border: 3px solid #8338ec;
    box-shadow: 0 4px 10px #8338ec;
    transition: transform 1s;
}

.box:hover{
    transform: scale(1.1);
}

.image{
    height: 70%;
    width: 100%;
    border-bottom: 2px solid black;
    border-radius: 6% 6% 0px 0px;
}

.text{
    padding: 15px 20px;
    text-align: justify;
    font-family: "Ubuntu";
    font-size: large;
}